[submodule ".emacs.d/public_repos/flymake-jshint.el"]
	path = .emacs.d/public_repos/flymake-jshint.el
	url = https://github.com/Wilfred/flymake-jshint.el.git
[submodule ".emacs.d/public_repos/flymake-easy"]
	path = .emacs.d/public_repos/flymake-easy
	url = https://github.com/purcell/flymake-easy
[submodule ".emacs.d/public_repos/emacs-flymake-cursor"]
	path = .emacs.d/public_repos/emacs-flymake-cursor
	url = https://github.com/illusori/emacs-flymake-cursor
[submodule ".emacs.d/public_repos/auto-complete"]
	path = .emacs.d/public_repos/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule ".emacs.d/public_repos/thingopt-el"]
	path = .emacs.d/public_repos/thingopt-el
	url = https://github.com/m2ym/thingopt-el.git
[submodule ".emacs.d/public_repos/smooth-scroll.el"]
	path = .emacs.d/public_repos/smooth-scroll.el
	url = https://github.com/k-talo/smooth-scroll.el.git
[submodule "perl-completion"]
	path = perl-completion
	url = https://github.com/imakado/perl-completion.git
[submodule "colors/iTerm2-Color-Schemes"]
	path = colors/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "colors/tomorrow-theme"]
	path = colors/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule ".emacs.d/public_repos/perl-completion"]
	path = .emacs.d/public_repos/perl-completion
	url = https://github.com/imakado/perl-completion.git
[submodule "colors/solarized"]
	path = colors/solarized
	url = https://github.com/altercation/solarized.git
[submodule ".emacs.d/public_repos/helm-etags-plus"]
	path = .emacs.d/public_repos/helm-etags-plus
	url = https://github.com/jixiuf/helm-etags-plus.git
[submodule ".emacs.d/public_repos/helm"]
	path = .emacs.d/public_repos/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".emacs.d/public_repos/emacs-emamux"]
	path = .emacs.d/public_repos/emacs-emamux
	url = https://github.com/syohex/emacs-emamux.git
[submodule ".emacs.d/themes/emacs-color-theme-solarized"]
	path = .emacs.d/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/public_repos/helm-swoop"]
	path = .emacs.d/public_repos/helm-swoop
	url = https://github.com/ShingoFukuyama/helm-swoop.git
