[submodule ".emacs.d/public_repos/flymake-jshint.el"]
	path = .emacs.d/public_repos/flymake-jshint.el
	url = https://github.com/Wilfred/flymake-jshint.el.git
[submodule ".emacs.d/public_repos/helm"]
	path = .emacs.d/public_repos/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".emacs.d/public_repos/flymake-easy"]
	path = .emacs.d/public_repos/flymake-easy
	url = https://github.com/purcell/flymake-easy
[submodule ".emacs.d/public_repos/emacs-flymake-cursor"]
	path = .emacs.d/public_repos/emacs-flymake-cursor
	url = https://github.com/illusori/emacs-flymake-cursor
